<app-container>
  <div>
    <a routerLink="/" fragment="home">
      <img
        *ngIf="!hover"
        src="./../../assets/img/logo_black.svg"
        alt="logo"
        (mouseover)="hover = true"
      />
      <img
        *ngIf="hover"
        src="./../../assets/img/logo_hover.svg"
        alt="logo"
        (mouseleave)="hover = false"
      />
    </a>

    <img
      (click)="burgerTouched()"
      src="./../../assets/img/burgerMenu.svg"
      alt="burger menu icon"
    />
  </div>
</app-container>
