:host
	width: 100%
	background-color: white
	justify-content: space-between
	min-height: 50px
	display: flex
	position: sticky
	top: 0
	z-index: 2

div
	width: 100%
	display: flex
	justify-content: space-between
img
	padding: 15px 0px