<app-container>
  <img
    loading="lazy"
    class="desktop"
    src="./../../assets/img/arrow-left.svg"
    alt="big arrow"
  />
  <img
    loading="lazy"
    class="mobile"
    src="./../../assets/img/arrow-left-mobile.svg"
    alt="small arrow"
  />

  <div class="white-container1"></div>
  <div class="white-container2"></div>

  <div class="headline">
    <h2>Say Hi!</h2>
  </div>

  <div class="text">
    <h3>Want to discuss a new project?</h3>
    <span>Say hello! let's discuss your ideas and make it happen</span>
  </div>

  <app-contact></app-contact>

  <footer>
    <div class="row">
      <a href="#home">
        <img
          loading="lazy"
          class="logo"
          src="./../../assets/img/{ m g }_white.svg"
          alt="small logo"
        />
      </a>

      <div class="links">
        <a href="https://github.com/mmgdevelopment" target="_blank">
          <img
            loading="lazy"
            src="./../../assets/img/github-button.svg"
            alt="github icon"
          />
        </a>
        <a href="mailto:info@marcel-gregor.de?subject=Contact%20from%20Website">
          <img
            loading="lazy"
            src="./../../assets/img/email-button.svg"
            alt="mail icon"
          />
        </a>
        <a
          href="https://www.linkedin.com/in/marcel-gregor-752929249/"
          target="_blank"
        >
          <img
            loading="lazy"
            src="./../../assets/img/linkedin-button.svg"
            alt="linkedin icon"
          />
        </a>
      </div>
    </div>
    <div class="row">
      <span>© Marcel Gregor 2023</span>
      <a routerLink="imprint">Legal notice</a>
    </div>
  </footer>
</app-container>
