:host
	background-color: black
	color: white
	position: relative
	overflow: hidden

.white-container1
	display: flex
	position: absolute
	top: 0
	width: 150vw
	height: 325px
	background-color: white
	transform: rotate(8deg)

.white-container2
	display: flex
	position: absolute
	top: 0
	right: 0
	width: 50vw
	height: 150px
	background-color: white

.desktop ,.mobile
		z-index: 2

footer
	display: flex
	flex-direction: column
	margin-bottom: 50px
	width: 100%

.headline
	display: flex
	width: 100%
	justify-content: flex-start

.row
	display: flex
	justify-content: space-between
	margin: 10px 0

.links
	display: flex
	gap: 25px

span
	font-family: overpass, sans-serif
	font-weight: 300
	font-size: 24px

a
	color: white
	text-decoration: none
