<app-container>
  <h2>About me</h2>
  <div class="content-container">
    <div class="text-container">
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat,
          cumque. Eaque eius assumenda blanditiis omnis facilis temporibus sint.
          Vero aliquam iusto non est animi? Possimus officia cupiditate optio
          repudiandae distinctio!
        </p>
        <br />
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <app-button> Let´s Talk </app-button>
    </div>

    <div class="image-container">
      <img src="./../../assets/img/portrait.svg" alt="" />
    </div>
  </div>
</app-container>
