<app-container>
  <h2>About me</h2>
  <div class="content-container">
    <div class="text-container">
      <div>
        <p>
          Hello, I'm a dedicated Frontend Developer who has turned my hobby into
          a profession. My goal is to establish myself as a Frontend Developer
          and fully unleash my passion for web design. With experience in HTML,
          CSS, and JavaScript, along with expertise in Angular, I'm ready to
          create engaging and user-friendly websites. Crafting unique user
          experiences that inspire people is close to my heart. I'm always on
          the lookout for new professional opportunities and challenges.
        </p>
        <br />
        <p>
          If you're interested in my work or have an open position in the field
          of Frontend Development, I would be delighted to hear from you.
          Together, we can achieve great things!
        </p>
      </div>
      <app-button><a href="#contact">Let's Talk</a> </app-button>
    </div>

    <div class="image-container">
      <img
        loading="lazy"
        src="./../../assets/img/portrait.svg"
        alt="big portrait"
      />
    </div>
  </div>
  <img
    class="desktop"
    src="./../../assets/img/arrow-left.svg"
    alt="big arrow"
  />
  <img
    class="mobile"
    src="./../../assets/img/arrow-left-mobile.svg"
    alt="small arrow"
  />
</app-container>
