<app-container>
  <h2>About me</h2>
  <div class="content-container">
    <div class="text-container">
      <div>
        <p>
          Hey there! I'm a passionate Frontend Developer who turned my hobby
          into a profession. I have a strong love for unique UX (User
          Experience) design. My goal is to create websites that seamlessly
          blend design and functionality, providing users with an amazing
          experience. With expertise in HTML, CSS, JavaScript, and various
          frontend frameworks, I'm ready to deliver innovative and user-friendly
          solutions.
        </p>
        <br />
        <p>
          Feel free to explore my website and let's revolutionize the web with
          unforgettable UX experiences!
        </p>
      </div>
      <app-button><a href="#contact">Let's Talk</a> </app-button>
    </div>

    <div class="image-container">
      <img
        loading="lazy"
        src="./../../assets/img/portrait.svg"
        alt="big portrait"
      />
    </div>
  </div>
  <img
    class="desktop"
    src="./../../assets/img/arrow-left.svg"
    alt="big arrow"
  />
  <img
    class="mobile"
    src="./../../assets/img/arrow-left-mobile.svg"
    alt="small arrow"
  />
</app-container>
