@import ./../../sass/_presets
:host
	position: relative
	display: flex
	justify-content: space-between
	width: 100%
	margin: 85px 0
	@media  ( max-width: 1450px )
		flex-direction: column
		align-items: center
		margin: 25px 0
	&:hover
		img
			filter: none

:host.odd
	flex-direction: row
	@media  ( max-width: 1450px )
			flex-direction: column
	.paginator
		right: 0px
	.text-container
		animation: slide-out-right linear 256ms
	&:hover > .text-container
		opacity: 1
		animation: slide-in-right linear 256ms
	&:hover > .image-container::after
		top: 15px
		bottom: -15px
		right: -15px
		left: 15px
		border: 5px solid black

:host.straight
	flex-direction: row-reverse
	@media  ( max-width: 1450px )
			flex-direction: column
	.paginator
		left: 0px
	.text-container
		animation: slide-out-left linear 256ms
	&:hover > .text-container
		opacity: 1
		animation: slide-in-left linear 256ms
	&:hover > .image-container::after
		top: 15px
		bottom: -15px
		right: 15px
		left: -15px
		border: 5px solid black

.paginator
	position: absolute
	top: 0px
	font-family: overpass, sans-serif
	font-size: 48px
	font-weight: 600
	@media  ( max-width: 1450px )
		font-size: 32px

img
	max-width: 100%
	filter: grayscale(1)

.image-container
	max-width: 60%
	position: relative
	z-index: 1
	@media  ( max-width: 1450px )
		width: fit-content
		max-width: 100%
		margin-top: 65px

.image-container:after
	content: ''
	position: absolute
	top: 0
	bottom: 0
	right: 0
	left: 0
	display: block
	border: 5px solid transparent
	transition: all ease-in-out 125ms

.text-container
	flex-direction: column
	justify-content: center
	margin: 45px 0
	max-width: 35%
	display: flex
	opacity: 0
	@media  ( max-width: 1450px )
		max-width: 600px

.tech-text
	color: $primeColor
	font-size: 22px
h3
	font-size: 36px
	font-family: syne, sans-serif
	font-weight: 800
	margin: 0


@keyframes slide-in-right
	0%
		transform: translateX(-35vw)
		opacity: 0
	100%
		transform: translateX(0)
		opacity: 1
@keyframes slide-out-right
	0%
		transform: translateX(0)
		opacity: 1
	100%
		transform: translateX(-35vw)
		opacity: 0

@keyframes slide-in-left
	0%
		transform: translateX(35vw)
		opacity: 0
	100%
		transform: translateX(0)
		opacity: 1
@keyframes slide-out-left
	0%
		transform: translateX(0)
		opacity: 1
	100%
		transform: translateX(35vw)
		opacity: 0
