<div class="menu-container">
  <a href="">About me</a>
  <a href="">My Skills</a>
  <a href="">Portfolio</a>
</div>

<div class="footer-container">
  <app-container>
    <div class="sayHi-container">
      <h3>Say Hi!</h3>
      <span>info@marcel-gregor.de</span>
    </div>

    <div class="icon-container">
      <img
        loading="lazy"
        src="./../../assets/img/github-button.svg"
        alt="github icon"
      />
      <img
        loading="lazy"
        src="./../../assets/img/email-button.svg"
        alt="mail icon"
      />
      <img
        loading="lazy"
        src="./../../assets/img/linkedin-button.svg"
        alt="linkedin icon"
      />
    </div>
  </app-container>
</div>
