<div class="menu-container">
  <a (click)="this.menuservice.toggleMenu()" href="#about">About me</a>
  <a (click)="this.menuservice.toggleMenu()" href="#skills">My Skills</a>
  <a (click)="this.menuservice.toggleMenu()" href="#portfolio">Portfolio</a>
</div>

<div class="footer-container">
  <app-container>
    <div class="sayHi-container">
      <h2>Say Hi!</h2>
      <span>info@marcel-gregor.de</span>
    </div>

    <div class="icon-container">
      <img
        loading="lazy"
        src="./../../assets/img/github-button.svg"
        alt="github icon"
      />
      <img
        loading="lazy"
        src="./../../assets/img/email-button.svg"
        alt="mail icon"
      />
      <img
        loading="lazy"
        src="./../../assets/img/linkedin-button.svg"
        alt="linkedin icon"
      />
    </div>
  </app-container>
</div>
