:host
	display: flex
	align-items: center
	flex-direction: column
	justify-content: center
	min-height: 100vh

.content-container
	display: flex
	justify-content: center
	align-items: center
	position: relative
	flex-wrap: wrap
	padding-top: 50px
	padding-bottom: 30px
	border: 2px solid black


.desktop
	max-width: 80%
	padding: 45px
	@media ( max-width: 1050px )
		display: none



.mobile
	max-width: 80%
	padding: 45px
	@media ( min-width: 1050px  )
		display: none
	@media ( max-width: 1050px  )
		display: inline

h2
	margin: 0
	padding: 0 25px
	position: absolute
	top: -40px
	background-color: white
	@media ( max-width: 580px )
		top: -20px
