<app-container>
  <div class="headline-container">
    <h1 class="margin-minus">Frontend</h1>
    <h1>Developer</h1>
    <div class="line-container">
      <div class="line"></div>
      <p>Marcel Gregor</p>
    </div>
  </div>

  <app-button>Send a message</app-button>

  <a href="mailto:info@marcel-gregor.de?subject=Contact%20from%20Website"
    ><span class="mail">info@marcel-gregor.de</span></a
  >

  <div class="scroll">
    <img src="./../../assets/img/arrow.svg" alt="straight down arrow" />
    <span>Scroll</span>
    <span>Down</span>
  </div>
</app-container>
