:host
	display: flex
	position: relative
	height: calc(100vh - 250px)
	padding-top: 110px
	flex-direction: column
	align-items: center
	justify-content: space-between
	@media (max-height: 600px)
		padding-top: 30px
		height: calc(100vh - 170px)

	@media (max-width: 725px)
		padding-top: 90px
		height: calc(100vh - 200px)

app-button
	display: none
	@media (max-width: 725px)
		display: block


.margin-minus
	margin-bottom: -30px
	@media (max-width: 725px)
		margin-bottom: -10px

h1
	font-size: 128px
	font-weight: 800
	text-align: center
	margin: 0px

	@media (max-width: 1250px)
		font-size: 80px

	@media (max-width: 725px)
		font-size: 45px

.headline-container
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center



.line-container
	width: 90%
	display: flex
	justify-content: flex-end
	position: relative
	@media (max-width: 725px)
		gap: 8px

	p
		font-size: 48px
		font-weight: 700
		color: #00BC8F
		text-align: center
		margin: 0px
		font-family: overpass, sans-serif
		@media (max-width: 1250px)
			font-size: 36px
		@media (max-width: 725px)
			font-size: 18px

.line
	position: absolute
	top: 40%
	left: 0
	width: calc( 100% - 335px )
	border-bottom: 3px solid black
	@media (max-width: 1250px)
		width: calc( 100% - 250px )
	@media (max-width: 725px)
		width: calc( 100% - 135px )

.mail
	position: absolute
	left: 0
	bottom: 0
	transform: rotate(-90deg) translateX(110px) translateY(-60px)

.scroll
	position: absolute
	right: 0
	bottom: 50px
	display: flex
	flex-direction: column
	width: 85px
	justify-content: flex-end
	align-items: center
	gap: 0
	span
		margin: 0
		text-align: center

	img
		transform: translateY(-50px)
		animation: scrollDown 2s infinite




@keyframes scrollDown
	0%
		transform: translateY(-50px)

	50%
		transform: translateY(0px)

	100%
		transform: translateY(-50px)
